/*#region variables*/
/*#endregion*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

/*#region font*/
.title {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2rem; }

.normal-text, html, body, .btn {
  font-family: 'Overpass', sans-serif;
  font-size: 1rem; }

.mono-text, .field.plus-minus .controls input {
  font-family: 'Overpass Mono', monospace; }

/*#endregion*/
/*#region colour*/
.primary-text-dark {
  color: rgba(0, 0, 0, 0.8); }

.primary-text-light {
  color: rgba(255, 255, 255, 0.85); }

.secondary-text-dark {
  color: rgba(0, 0, 0, 0.5); }

.secondary-text-light {
  color: rgba(255, 255, 255, 0.6); }

.accent-text {
  color: #ffd500; }

.accent-back {
  background-color: #ffd500; }

.primary-back {
  background-color: #151515; }

.secondary-back {
  background-color: #000; }

/*#endregion*/
.field.directions .toggle-icon .bg, .btn-icon:after, .btn:after, .settings-cover, .pregame-cover, .endgame-cover, .game .paused-cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.subtitle {
  font-size: 1.2rem;
  margin-top: 4px; }

.text-center {
  text-align: center; }

.full-width {
  width: 100%; }

.container {
  width: 90%;
  max-width: 640px; }

.margin-center {
  margin: auto; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.bottom-bar {
  position: absolute;
  height: 56px;
  bottom: 0;
  width: 90%;
  max-width: 640px; }

.debug-dot {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 2px;
  height: 2px;
  background-color: red; }

.group:first-child {
  margin-top: 32px; }

.group.frame {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 24px;
  padding-bottom: 16px;
  position: relative; }
  .group.frame > .frame-title {
    box-sizing: content-box;
    position: absolute;
    top: -16px;
    padding: 8px;
    background-color: #ffd500;
    font-size: 0.9rem;
    letter-spacing: 1px; }

.group.page-title {
  height: 56px;
  line-height: 56px; }
  .group.page-title button {
    vertical-align: middle; }
  .group.page-title .title {
    vertical-align: middle;
    display: inline-block;
    height: 56px;
    margin-left: 8px; }

.group + .group {
  margin-top: 32px; }

.group > label {
  margin-top: 24px; }

.group > i.mdi {
  vertical-align: middle;
  margin-right: 4px; }
  .group > i.mdi + span {
    margin-right: 16px; }

label {
  display: block;
  opacity: 0.75;
  font-size: 0.9rem;
  margin-bottom: 8px; }

[data-dir].hidden {
  display: none; }

/*#region fields and buttons*/
.field.plus-minus .controls {
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .field.plus-minus .controls input {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
    outline: none;
    border-radius: 2px;
    height: 40px;
    font-size: 1rem;
    vertical-align: middle;
    min-width: 96px;
    max-width: 168px;
    width: 30%; }
    .field.plus-minus .controls input::-webkit-outer-spin-button, .field.plus-minus .controls input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.field.mode-choice {
  width: 100%; }
  .field.mode-choice .half, .field.mode-choice .third {
    display: inline-block;
    width: calc(50% - 2px);
    padding-left: 0px;
    padding-right: 8px;
    vertical-align: middle; }
    .field.mode-choice .half input[type=radio], .field.mode-choice .third input[type=radio] {
      display: none; }
    .field.mode-choice .half input[type=radio]:checked + .frame:after, .field.mode-choice .third input[type=radio]:checked + .frame:after {
      opacity: 1; }
    .field.mode-choice .half .frame, .field.mode-choice .third .frame {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.7);
      border-radius: 16px;
      padding: 8px; }
      .field.mode-choice .half .frame .frame-icons .row, .field.mode-choice .third .frame .frame-icons .row {
        height: 22px;
        line-height: 22px; }
      .field.mode-choice .half .frame:after, .field.mode-choice .third .frame:after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid black;
        border-radius: 16px;
        opacity: 0;
        transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
  .field.mode-choice .half {
    width: calc(50% - 2px); }
  .field.mode-choice .third {
    width: calc(33% - 2px); }
  .field.mode-choice .half + .half {
    padding-left: 8px;
    padding-right: 0; }

.field.directions .checkbox-grid {
  text-align: center; }
  .field.directions .checkbox-grid .row {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 4px 0; }

.field.directions .toggle-icon {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle; }
  .field.directions .toggle-icon input[type=checkbox] {
    display: none; }
  .field.directions .toggle-icon i.mdi {
    opacity: 0.7; }
  .field.directions .toggle-icon input[type=checkbox]:checked ~ i.mdi {
    opacity: 0.95; }
  .field.directions .toggle-icon .bg {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
  .field.directions .toggle-icon input[type=checkbox]:checked ~ .bg {
    opacity: 0.2; }

.field + .field {
  margin-top: 24px; }

.btn-icon {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer; }
  .btn-icon:after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50%;
    opacity: 0.1;
    transform: scale(0);
    transition: transform 0.25s ease-in-out; }
  .btn-icon.light {
    color: rgba(255, 255, 255, 0.85); }
    .btn-icon.light:after {
      background-color: white; }
  .btn-icon.accent {
    color: #ffd500; }
  .btn-icon:hover:after {
    transform: scale(1); }
  .btn-icon:active:after {
    opacity: 0.2; }

.btn {
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  background: none;
  font-weight: 600;
  outline: none;
  padding: 0 24px;
  font-size: 1rem;
  cursor: pointer; }
  .btn:after {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn.light {
    border-color: rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85); }
    .btn.light:after {
      background-color: white; }
  .btn:hover:after {
    opacity: 0.1; }

/*#endregion*/
/*#region selector*/
.selector {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffd500;
  opacity: 0.4;
  color: transparent;
  letter-spacing: 2px;
  pointer-events: none;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
  .selector.hidden {
    opacity: 0; }

.selector-direction {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #ffd500;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
  .selector-direction.hidden {
    opacity: 0;
    pointer-events: none; }
  .selector-direction .btn-icon {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -20px;
    margin-top: -20px; }
    .selector-direction .btn-icon.hidden {
      display: none; }
  .selector-direction .up-left {
    top: -62.23479px;
    left: -62.23479px; }
  .selector-direction .up {
    top: -88px; }
  .selector-direction .up-right {
    top: -62.23479px;
    left: 62.23479px; }
  .selector-direction .left {
    left: -88px; }
  .selector-direction .right {
    left: 88px; }
  .selector-direction .down-left {
    top: 62.23479px;
    left: -62.23479px; }
  .selector-direction .down {
    top: 88px; }
  .selector-direction .down-right {
    top: 62.23479px;
    left: 62.23479px; }

.fail-flash {
  position: absolute;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  border-radius: 50%;
  background-color: red;
  opacity: 1;
  animation-name: fail-flash-anim;
  animation-duration: 0.33s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes fail-flash-anim {
  from {
    opacity: 1;
    transform: scale(0); }
  to {
    opacity: 0;
    transform: scale(1); } }

/*#endregion*/
/*#region main screens*/
.settings-cover {
  position: absolute;
  z-index: 30;
  transform: translateX(0);
  transition: transform 0.33s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  .settings-cover.out-left {
    transform: translateX(-100vw);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }
  .settings-cover.out-right {
    transform: translateX(100vw);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }

.pregame-cover {
  position: absolute;
  z-index: 20;
  transform: translateX(0);
  transition: transform 0.33s cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  backdrop-filter: blur(24px); }
  .pregame-cover.out-left {
    transform: translateX(-100vw);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }
  .pregame-cover.out-right {
    transform: translateX(100vw);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }

.endgame-cover {
  position: absolute;
  z-index: 15;
  transform: translateX(0);
  transition: transform 0.33s cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  .endgame-cover .subtitle {
    margin-bottom: 8px; }
  .endgame-cover.out-left {
    transform: translateX(-100vw);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }
  .endgame-cover.out-right {
    transform: translateX(100vw);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    pointer-events: none; }

.game {
  position: relative;
  display: block;
  height: 100%;
  width: 100%; }
  .game .drag-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none; }
  .game .numbers-container {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7); }
  .game .bottom-bar {
    padding: 0 24px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    .game .bottom-bar div {
      line-height: 56px; }
    .game .bottom-bar .left {
      position: absolute;
      left: 16px;
      top: 0;
      bottom: 0;
      text-align: left;
      padding-top: 2px; }
    .game .bottom-bar .right {
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      text-align: left; }
      .game .bottom-bar .right.stopwatch {
        display: inline-block;
        height: 100%;
        padding-top: 2px;
        right: 64px; }
  .game .paused-cover {
    position: absolute;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(24px); }
  .game.paused .paused-cover {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
  .game.paused .numbers-container {
    /*filter: blur(24px);*/ }

/*#endregion*/
